.share-popup {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 998;
}

.shareMask{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 998;
}

.maskSubstance {
  width: 100%;
  height: 4.2rem;
  background: #ffffff;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  border-radius: .2rem .2rem 0 0;
}

.maskSubstance .substanceShare {
  width: 100%;
  height: 1.25rem;
  line-height: 1.25rem;
  border-bottom: solid 1px #DEDFE1;
  font-size: 0.3rem;
  color: #000;
  text-align: center;
  font-weight: bold;
}

.maskSubstance .substanceShare i {
  float: right;
  margin-right: 0.3rem;
  font-size: 0.32rem;
  color: #DEDFE1;
}

.maskSubstance .share {
  width: 4rem;
  height: 100%;
  /*border: solid 1px red;*/
  margin: auto;
}

.maskSubstance .share .left, .right {
  width: 50%;
  height: 100%;
  /*background: gray;*/
  text-align: center;
  font-size: 0.3rem;
}

.maskSubstance .share .left img, .maskSubstance .share .right img {
  margin-top: 0.3rem;
  display: block;
  width: 0.8rem;
  height: 0.8rem;
  margin-left: 0.55rem;
  margin-bottom: 0.2rem;
}

.maskContent .share .right p, .maskContent .share .left p {
  text-align: center;
}
