.lead-content{
    width:100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.lead-content input,.content-size textarea{
    padding: 0;
}
.content-title{
    width: 100%;
    height: 1.3rem;
    line-height: 1.65rem;
    background-color: #FBFCFD;
    font-size: 0.3rem;
    border-bottom: 0.01rem solid #ddd;
    display: flex;
    justify-content: space-between;
}
.title-left{
    margin-left: 0.2rem;
    line-height: 1.65rem;
    font-size: 0.48rem!important;
}
.title-right{
    margin-right: 0.2rem;
}
.content-title img{
    width: 0.48rem;
    vertical-align: top;
    margin-top: 0.6rem;
}
.lead-nav{
    width: 100%;
    height: 0.8rem;
    line-height: 0.8rem;
    font-size: 0.25rem;
    color: #828D96;
    display: flex;
}
.lead-nav div{
    flex: 1;
    text-align: center;
}
.lead-hint{
    width: 100%;
    line-height: 0.4rem;
    font-size: 0.25rem;
    color: #828D96;
    border-top: 0.01rem solid #ddd;
    border-bottom: 0.01rem solid #ddd;
    background-color: #FBFCFD;
    padding: 0.4rem 0.5rem;
}
.key-textarea{
    width: 100%;
    height: 2rem;
    padding: 0.4rem 0.4rem 0.1rem 0.4rem;
}
.key-textarea textarea{
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 0.25rem;
    line-height: 0.3rem;
    outline: none;
    border: 0.01rem solid #ddd;
    padding: 0.1rem 0.2rem 0 0.2rem!important;
}
.key-textarea textarea::-webkit-input-placeholder{
    font-size: 0.25rem;
    color: #ddd;
    font-weight: bold;
}
.key-set{
    width: 100%;
    height: 3.3rem;
    padding: 0 0.4rem;
    position: relative;
}
.key-set h1{
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.25rem;
    margin-top: 0.2rem;
    font-weight: inherit;
}
.key-set>h1 img{
    width: 0.4rem;
    vertical-align: top;
}
.key-set input{
    width: 89%!important;
    height: 0.9rem!important;
    font-size: 0.25rem;
    border: 0!important;
    outline: none!important;
    border-bottom: 0.01rem solid #ddd!important;
    padding: 0.2rem 0!important;
}
.key-password{
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
}
.key-repassword{
    position: absolute;
    top: 1.3rem;
    left: 0.4rem;
}
.key-repassword + img{
    width: 0.5rem;
    position: absolute;
    right: 0.6rem;
    top: 1.5rem;
}
.key-information{
    position: absolute;
    top: 2.2rem;
    left: 0.4rem;
}
.key-set input::-webkit-input-placeholder{
    font-size: 0.25rem;
    color: #ddd;
    font-weight: bold;
}
.content-start{
    width: 89%;
    height: 0.9rem;
    text-align: center;
    line-height: 0.9rem;
    font-size: 0.3rem;
    background-color: #C3C8CB;
    color: #fff;
    border-radius: 0.1rem;
    margin: 0.5rem auto 1.2rem;
}
.content-understand{
    width: 100%;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: 0.25rem;
    font-weight: bold;
    color: #411E60;
    background-color: #fff;
    border-top: 0.01rem solid #ddd;
    position: fixed;
    bottom: 0;
}
.content-understand img{
    width: 0.3rem;
    vertical-align: middle;
}
