#asset {
  img {
    display: block;
  }

  .property-detail-content {
    width: 100%;
    height: 100%;
    background-color: #F1F0F4;
  }

  .property-detail-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #411E60;
    position: relative;
  }

  .property-detail-title img {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 13px;
  }

  .property-detail-home {
    width: 100%;
    height: 100%;
    padding-top: 1.3rem;
  }

  .property-detail-nav {
    width: 100%;
    height: 40px;
    background-color: #F1F0F4;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
  }

  .property-detail-nav div {
    width: 33.3%;
    line-height: 40px;
    text-align: center;
    font-size: 14px;
  }

  .property-detail-nav-active {
    color: #411E60;
    border-bottom: 2px solid #411E60;
  }

  .property-detail-all {
    width: 100%;
    height: calc(100% - 150px);
    position: absolute;
    left: 0;
    top: 105px;
    overflow: hidden;
  }

  .property-detail-list {
    height: 60px;
    background-color: #fff;
    padding: 0 15px;
    margin-bottom: 10px;
  }

  .property-detail-list-category {
    width: 30px;
    height: 30px;
    background-color: #411E60;
    border-radius: 50%;
    float: left;
    margin-top: 15px;
    margin-left: 5px;
  }

  .property-detail-list-category img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .property-detail-list-detail-info {
    height: 60px;
    float: left;
    margin-left: 10px;
  }

  .property-detail-list-detail-info-address {
    height: 30px;
    line-height: 40px;
    font-size: 14px;
  }

  .property-detail-list-detail-info-time {
    height: 30px;
    line-height: 20px;
    font-size: 12px;
    color: #aaa;
  }

  .property-detail-list-detail-money {
    height: 60px;
    line-height: 60px;
    color: #411E60;
    float: right;
    font-size: .28rem;
  }

  .property-detail-operate {
    width: 100%;
    height: 45px;
    line-height: 45px;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
  }

  .property-detail-operate div {
    width: 50%;
    text-align: center;
    font-size: 14px;
  }

  .property-detail-operate div:first-child {
    background-color: #fff;
    color: #411E60;
  }

  .property-detail-operate div:last-child {
    color: #fff;
    background-color: #411E60;
  }


}
