.export-height {
    height: auto;
}
.export-box{
    overflow: hidden;
    height: 100%;
}

.export-box .mui-slider .mui-segmented-control.mui-segmented-control-inverted ~ .mui-slider-group .mui-slider-item {
    border-bottom: none;
}

.export-box .mui-slider {
    overflow: initial;
}

.mg-44 {
    height: calc(100% - 1.3rem);
    margin-top: 1.3rem;
    background: #F1F0F4;
}

.wd-50 {
    width: 50%;
}

.export-box > .mui-bar-nav {
    box-shadow: none;
    border-bottom: 1px solid rgba(204, 204, 204, .2);
}

.export-box > header > .mui-icon-left-nav {
    color: #000;
}

.export-ul {
    padding: .65rem .3rem .4rem .4rem;
}

.export-ul > li > p {
    font-size: .24rem;
    margin-bottom: 0;
    line-height: 1.6;
}

.export-ul > li {
    margin-bottom: .2rem;
}

.export-color {
    color: #411E60;
    height: .32rem;
    font-weight: 600;
}

.text-box {
    padding-top: 1.3rem;
}

.text-box > .textarea {
    width: 88%;
    resize: none;
    margin: 0 .46rem;
    padding: .28rem .24rem;
    background: #FAFBFC;
    font-size: .28rem;
    line-height: 1;
    max-height: 156px;
    overflow-y: scroll;
    border: 1px solid rgba(204, 204, 204, .2);
}

.export-line {
    border-bottom: 1px solid rgba(204, 204, 204, .2);
}

.text-box > button {
    width: 88%;
    height: .88rem;
    margin: .45rem;
    background: #411E60;
    color: #fff;
    font-size: .32rem;

}

.code-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);

}

.code {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4.4rem !important;
    height: 4.4rem;
    z-index: 22;
}

.code2 {
    width: 1.6rem !important;
    height: 1.6rem;
    position: absolute;
    left: 50%;
    top: .1rem;
    transform: translateX(-50%);
}

.showcode {
    width: 1.92rem;
    height: 0.66rem;
    position: absolute;
    left: 50%;
    top: 3.5rem;
    transform: translateX(-50%);
    background: #411E60;
    color: #fff;
    border-radius: .1rem;
}

.mg-44 .mui-segmented-control .mui-control-item {
    line-height: .88rem;
}

.mui-slider .mui-control-item.export-active {
    color: #411E60;
}

.export-active{
    color: #411E60;
}

.export-active::after {
    content: '';
    display: block;
    height: 2px;
    background: #411E60;
    width: 100%;
}

.private-nav{
    height: 0.92rem;
    display: flex;
    background-color: #fff;
}

.private-nav>div{
    width: 50%;
    line-height: 0.92rem;
    text-align: center;
    font-size: 0.3rem;
}

