#smallChange {
  .asset-check {
    display: inline-block;
    vertical-align: -1px;
    background: url("../../../assets/img/wallet/check.png") 0 0 no-repeat;
    background-size: 100%;
    width: 12px;
    height: 12px;
  }

  .asset-checkT {
    display: inline-block;
    vertical-align: -1px;
    background: url("../../../assets/img/wallet/check_true.png") 0 0 no-repeat;
    background-size: 100%;
    width: 12px;
    height: 12px;
  }

  .loose-change-content {
    width: 100%;
    height: 100%;
    background-color: #F1F0F4;
  }

  .assetsBox {
    height: 100%;
    padding-top: 1.3rem;
    overflow: hidden;
  }

  .loose-change-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 16px;
    color: #411E60;
    position: relative;
  }

  .loose-change-title img {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 10px;
    top: 13px;
  }

  .loose-change-home {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .loose-change-assets-title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
  }

  .loose-change-assets-title div:first-child {
    font-size: 16px;
  }

  .loose-change-assets-title label:last-child {
    font-size: 12px;
    color: #aaa;
  }

  .loose-change-assets-title input {
    width: 12px;
    height: 12px;
    margin-right: 5px;
    vertical-align: top;
    margin-top: 19px;
  }

  .loose-change-assets-content {
    width: 100%;
    padding: 0 10px 50px 10px;
  }

  .loose-change-assets-detail {
    width: 100%;
    height: 60px;
    padding: 0 15px;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 5px;
  }

  .loose-change-assets-detail:last-child {
    border: 0;
  }

  .loose-change-assets-detail > div:first-child {
    width: 40px;
    height: 40px;
    background-color: #fff;
    margin-top: 10px;
    border-radius: 50%;
    float: left;
  }

  .loose-change-assets-detail > div:first-child img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .loose-change-assets-detail > div:nth-child(2) {
    line-height: 60px;
    margin-left: 20px;
    float: left;
  }

  .loose-change-assets-detail > div:nth-child(2) div:first-child {
    height: 30px;
    line-height: 40px;
    font-size: 16px;
  }

  .loose-change-assets-detail > div:nth-child(2) div:last-child {
    height: 30px;
    line-height: 20px;
    font-size: 12px;
    color: #ccc;
  }

  .loose-change-assets-detail > div:last-child {
    height: 60px;
    text-align: right;
    float: right;
  }

  .loose-change-assets-detail > div:last-child div:first-child {
    height: 30px;
    line-height: 40px;
    font-size: 16px;
  }

  .loose-change-assets-detail > div:last-child div:last-child {
    height: 30px;
    line-height: 20px;
    font-size: 12px;
    color: #ccc;
  }
}