#verify{
  .header{
    background-color: #fff;
  }
  .content-top{
    margin-top: 1.3rem;
  }
  .content-verify{
    width:100%;
    height: 100%;
    position: relative;
  }
  .content-return{
    height: 1.3rem;
  }
  .content-return span{
    margin-left: 0.2rem;
    line-height: 1.65rem;
    font-size: 0.48rem!important;
  }
  .content-mnemonic{
    height: 1.8rem;
    text-align: center;
  }

  .mnemonic-iconfont{
    height: 1rem;
    line-height: 1rem;
  }
  .mnemonic-iconfont img{
    width: 0.8rem;
    vertical-align: bottom;
  }
  .mnemonic-title{
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.35rem;
    font-weight: bold;
  }
  .content-hint{
    width: 80%;
    text-align: center;
    line-height: 0.5rem;
    margin: 0.75rem auto 0.5rem;
    font-size: 0.3rem;
    color: #828D96;
  }
  .content-danger-two{
    width: 80%;
    text-align: center;
    line-height: 0.5rem;
    margin: 0.5rem auto 0.5rem;
    font-size: 0.3rem;
    color: #E15D48;
  }
  .content-english,.content-english-to{
    width: 100%;
    height: 3rem;
    font-size: 0.3rem;
    padding: 0.2rem 0.4rem;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .content-english div,.content-english-to div{
    height: 0.6rem;
    line-height: 0.6rem;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0 0.1rem;
    margin-right: 0.2rem;
    margin-top: 0.2rem;
  }
  .content-english{
    background-color: #F2F3F4;
  }
  .content-english-to{
    margin-top: 0.2rem;
    margin-bottom: 1rem;
  }
  .content-next{
    width: 100%;
    height: 1rem;
    text-align: center;
    line-height: 1rem;
    font-size: 0.3rem;
    background-color: #c3c7cb;
    color: #fff;
    position: fixed;
    bottom: 0;
  }

}
